device/code/server-device.txt
[{"id":"d5e2b273.99ebe","type":"function","z":"f53e1986.08b198","name":"encrypt base64 image","func":"var base64Data = new Buffer(msg.payload, 'base64')\nmsg.packet = {\n    \"iamge\": base64Data\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":440,"y":500,"wires":[["a6f404d0.16f6e8"]]},{"id":"a6f404d0.16f6e8","type":"file in","z":"f53e1986.08b198","name":"image name","filename":"/root/synch_server/device/image/image_name.txt","format":"utf8","chunk":false,"sendError":false,"x":650,"y":500,"wires":[["489ea6a7.7ca7a8"]]},{"id":"820a79da.33af28","type":"file in","z":"f53e1986.08b198","name":"image base64","filename":"/root/synch_server/device/image/image.jpg","format":"utf8","chunk":false,"sendError":false,"x":230,"y":500,"wires":[["d5e2b273.99ebe"]]},{"id":"489ea6a7.7ca7a8","type":"function","z":"f53e1986.08b198","name":"image name","func":"msg.packet.image_name = msg.payload.replace('\\n', '')\nmsg.payload = msg.packet\nreturn msg;\n\n","outputs":1,"noerr":0,"x":830,"y":500,"wires":[["5f40749f.27e12c","c94da845.9694d8"]]},{"id":"54ae76a7.543448","type":"inject","z":"f53e1986.08b198","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":280,"wires":[["820a79da.33af28"]]},{"id":"5f40749f.27e12c","type":"debug","z":"f53e1986.08b198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"packet","x":1010,"y":500,"wires":[]},{"id":"c94da845.9694d8","type":"mqtt out","z":"f53e1986.08b198","name":"","topic":"synch","qos":"","retain":"","broker":"9ba5f09c.6d3df","x":990,"y":460,"wires":[]},{"id":"61c93ed7.0c413","type":"exec","z":"f53e1986.08b198","command":"bash /root/synch_server/device/code/shoot.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":570,"y":180,"wires":[[],[],[]]},{"id":"a3ef2605.0049c8","type":"mqtt in","z":"f53e1986.08b198","name":"","topic":"synch","qos":"2","broker":"9ba5f09c.6d3df","x":180,"y":100,"wires":[["eb31f1e4.69be9"]]},{"id":"f5261bbc.561f58","type":"debug","z":"f53e1986.08b198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":100,"wires":[]},{"id":"eb31f1e4.69be9","type":"json","z":"f53e1986.08b198","name":"","property":"payload","action":"","pretty":false,"x":310,"y":100,"wires":[["f5261bbc.561f58"]]},{"id":"9ba5f09c.6d3df","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]