synch/code/server.js.txt
[{"id":"5d914a6.616edb4","type":"file","z":"7dfe81ea.bbe11","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":770,"y":980,"wires":[[]]},{"id":"5c1ca6d6.f61e88","type":"mqtt in","z":"7dfe81ea.bbe11","name":"","topic":"synch","qos":"2","broker":"ee0fdc9c.ae47d","x":150,"y":1260,"wires":[["52d94774.3b90b8"]]},{"id":"36b177b8.6ca968","type":"function","z":"7dfe81ea.bbe11","name":"","func":"var image_local = \"/home/pi/NDT/code/\"\nvar extend = \".jpg\"\nvar name = msg.payload.image_name\nvar base64Data = msg.payload.image_array\nmsg.payload = new Buffer(base64Data, 'base64')\nmsg.filename = image_local + name + extend\nreturn msg;\n\n","outputs":1,"noerr":0,"x":490,"y":1120,"wires":[["5d914a6.616edb4","36d2d4a0.4fdb7c"]]},{"id":"36d2d4a0.4fdb7c","type":"debug","z":"7dfe81ea.bbe11","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","x":730,"y":1140,"wires":[]},{"id":"52d94774.3b90b8","type":"json","z":"7dfe81ea.bbe11","name":"","property":"payload","action":"","pretty":false,"x":230,"y":1080,"wires":[["89b4d19f.e9d1c","36b177b8.6ca968"]]},{"id":"89b4d19f.e9d1c","type":"debug","z":"7dfe81ea.bbe11","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":1280,"wires":[]},{"id":"ee0fdc9c.ae47d","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]